*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(201, 194, 194);
    display: flex;
    
}

.absolute{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    color: white;
    bottom: 35px;
    width: 100px;
    height: 100px;
    background-color: rgb(254, 237, 237);
    box-shadow: 0px 0px 3px 4px rgb(42, 42, 40);
    border-radius: 50%;
    border: 2px solid rgb(194, 75, 227);
    right: 20px;
    
}
.absolute>img{
    width: 200px
}
.e1{
    position: absolute;
    color: rgb(246, 249, 232);
    font-weight: bolder;
    font-size: 19px;
    width: 150px;
    height: 60px;
    background-color: rgba(210, 173, 206, 0.261);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 3px rgb(214, 35, 237) ;
    top: 55%;
    right: 110px;
    

}
.eg1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    
}
.leftnav{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftnav>img{
    width: 40%;
    height: 50px;
    
}
.rightnav{
    width: 60%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:rgb(191, 37, 37);
    font-size: 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(216, 31, 173);
    scale: 1.2sc;
}