

.myusers{
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 248, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

}
.cards{
    width: 30%;
    height: 450px;
    background-color: aqua;
    border-radius: 20px;
}
#img{
    width: 100%;
    height: 450px;
    background-image: url(https://images.unsplash.com/photo-1686841812861-d22f3ce23a58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8ODZ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
#black{
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.727);
    border-radius: 20px;
}
#para{
    position: absolute;
    font-size: 30px;
    z-index: 99;
    color: red;
    font-weight: bold;
    top: 70%;
    
}
